.mtxs {
  margin-top: 1.5rem !important;
}

.mbxs {
  margin-bottom: 1.5rem !important;
}

.mts {
  margin-top: 2.5rem !important;
}

.mbs {
  margin-bottom: 2.5rem !important;
}

.mtm {
  margin-top: 4rem !important;
}

.mbm {
  margin-bottom: 4rem !important;
}

.nmt {
  margin-top: 0 !important;
}

.nmb {
  margin-bottom: 0 !important;
}

.nmr {
  margin-right: 0 !important;
}

.nml {
   margin-left: 0 !important;
}

.mlxs {
  margin-left: 1.5rem !important;
}