$primary-color: #F62F5E;
$secondary-color: #0d2a4d;
$grey: #EFEFEF;
$dark-grey: #aeaca9;

$background: #f7f7f7;
$white: #ffffff;
$black: #000000;
$black2: #2E2E2E;
$error-color: red;
$cyan: #00d3ca;
$orange: #fe5c05;
$blue: #6EB2FB;
$green: #7ED321;
$purple: #9013FE;

$dark-yellow: #FFAF30;

 // Grid
$grid-width: 95%;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;
