@import '../../assets/scss/variables.scss';

.footer-two {
  .white {
    background: $white;
    color: $black;

    .fa {
      background:  $grey !important;
    }
  }
  &__subscribe {
    background: $grey;
    display: flex;
    align-items: center;
    padding: 0 8rem;
    justify-content: space-between;

    h1 {
      font-family: Lucida Grande;
      font-style: normal;
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: transparentize($black, 0.3)
      // width: 45%;
    }

    &--form {
      display: flex;
      align-items: center;

      button {
        margin-left: .8rem;
      }
    }
  }

  &__footer {
    background: transparentize($black, 0.2);
    padding: 5rem;
    color: $white;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    li {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: 2.4rem;
      line-height: 3.6rem;
      text-align: center;

      a:link {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  &__socail-links {
   text-align: center;

    a:link {
      color: inherit;
      margin: 2rem;

      .fa {
        background:  white;
        color: $black;
        padding: 1rem;
        border-radius: 50%;
      }
      .fa-facebook-f {
        padding: 1rem 1.5rem;
      }
    }
  }

  &__privacy {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    word-spacing: .2rem;
    color: $dark-grey;
  }
}